#root {
  background-color: hsl(228, 87%, 61%);
  text-align: center;
}

.dash-board {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dash-content {
  padding: 100px;
}
.dash-image {
  padding: 0px 0px 20px 10px;
}
.dash-image > img {
  width: 50vw;
  height: auto;
}

.shop-now {
  align-items: center;
  background-color: #4468f2;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop-now:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.panel {
  /* background-color: #4468f2; */
  background-color: #4468f2;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 15px;
  width: 30vw;
  /* color: #eef6f6; */
  border-radius: 20px;
  box-shadow: transparent 0 0 0 3px, rgba(47, 49, 87, 0.969) 0 6px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-img {
  max-width: 100%;
}

.pricing-price {
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: white;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.links li {
  display: inline;
  margin: 10px;
}

.link {
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link:active {
  box-shadow: none;
  top: 5px;
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 40%;
  margin: auto;
  height: auto;
  max-height: auto;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  padding-left: 50px;
  border: 1px solid #999;
  justify-content: center;
  align-items: center;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(29.8% - 30px);
  top: calc(102vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.cart-list li {
  display: inline;
}

.cart-list {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
}

.cart-list img {
  width: 20px;
  height: auto;
}
