#root {
  /* background: rgb(0, 90, 102);
  background: linear-gradient(
    122deg,
    rgba(0, 90, 102, 1) 0%,
    rgba(68, 104, 242, 1) 70%
  ); */
  background-color: #4468f2;
  text-align: center;
}

.dash-board {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dash-content {
  padding: 100px;
}

.dash-image > img {
  width: 50vw;
  height: auto;
}

.shop-now {
  align-items: center;
  background-color: #4468f2;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop-now:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.panel {
  /* background-color: #4468f2; */
  background-color: #4468f2;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 15px;
  width: 30vw;
  /* color: #eef6f6; */
  border-radius: 20px;
  box-shadow: transparent 0 0 0 3px, rgba(47, 49, 87, 0.969) 0 6px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-img {
  max-width: 100%;
}

.pricing-price {
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: white;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
